body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.first {
    display: flex;
}

.bottom {
    margin-bottom: 100px;
}

p {}

.div-first {
    margin-right: 49px;
}

.div-first img {
    width: 130%;
    margin-right: 40px;
}

.image {
    width: 100%;
    margin-left: 180px;
    margin-top: 100px;
}

.about-me {
    padding-right: 50px;
    margin-left: 350px;
    margin-top: 100px;

}

.three {
    font-size: 30px;
    font-weight: 2vw;
}


h1 {
    font-size: 50px;
}

#span-one {
    color: tomato;
}

.span-two {
    color: rgb(88, 86, 86);
}

#one {
    margin-left: 40px;
}

.link {
    background-image: linear-gradient(rgb(128, 128, 209), rgb(58, 58, 212));
    text-decoration: none;
    color: white;
    padding: 15px 35px;
    border-radius: 30px;
}

p {
    color: gray;
}

.section {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 1240px;
}

.ink {
    background-image: linear-gradient(to right, rgb(255, 166, 0), rgb(236, 84, 84));
    text-decoration: none;
    color: white;
    padding: 15px 32px;
    border-radius: 30px;
}

.recipies {
    text-align: center;
    margin-left: 290px;
    margin-right: 290px;
}

.food-one {
    height: 65%;
    width: 95%;
    padding-top: 10px;
}


.food {
    display: flex;
    align-items: center;
}

.food-div {
    box-shadow: 5px 5px 5px rgb(182, 181, 181);
    width: 500px;
    margin-right: 50px;
    text-align: center;
    border-radius: 30px;
}

.one {
    margin-left: 100px;
}

.text {
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;

}

.social {
    margin-left: 150px;
    margin-right: ;
}

.shadow {
    display: flex;
    box-shadow: 5px 5px 5px rgb(180, 178, 178);
    border-radius: 20px;
    margin-top: 50px;
    margin-right: 55px;
    margin-left: 90px;
}

h2 {
    font-size: 30px;
    font-weight: 900;
}

.eat {
    background-color: black;
}

.tomato {
    color: tomato;
}

.gray {
    color: gray;
}

.eat {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 70px;
}

.last {
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 30px;
}

h3 {
    font-size: 25px;
}